/node_modules
package-lock.json
/out
/cache
/.vscode
/.cursor
.solhint.json
/artifacts
/hardhat-project/node_modules
/hardhat-project/artifacts
hardhat-project/.env
/hardhat-project/ignition/deployments
/hardhat-auction/.deps
/hardhat-auction/artifacts
/hardhat-auction/cache
/hardhat-auction/node_modules

# macOS
.DS_Store
**/.DS_Store


# 忽略根目录的.env文件
.env
# 忽略所有环境的.env文件（如.env.local/.env.prod/.env.test）
.env.*
# 例外：保留示例文件（供协作参考，需上传）
!.env.example

advanced2-contract-stake/stake-contract/.DS_Store
